<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head>
		<title>Rango</title>
	</head>

	<body>
	<h1>{{ category_name }}<h1>
				{% if cate %}
					{% if pages %}
				<ul>
				   {% for page in pages %}
					 <li><a href="{{ page.url }}">{{ page.title }}</a></li>
					 {% endfor %}
				</ul>
					 {% else %}
					 <strong> NO Pages</strong>
					 {% endif %}
				{% else %}
				The category {{ category_name }} does not exist! 
				{% endif %}
				<a href="/rango/about/">About </a><br />
				<img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
	</body>

</html>
