-i https://pypi.tuna.tsinghua.edu.cn/simple

Jinja2==2.8.1
MarkupSafe==0.23
PyYAML==3.12
ansible==2.2.1.0
appdirs==1.4.2
argparse==1.2.1
packaging==16.8
paramiko==2.10.1
pycrypto==2.6.1
pyparsing==2.1.10
six==1.10.0
wsgiref==0.1.2
